@model ctyppsachmvc.Models.phieuxuat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>phieuxuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nguoinhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoinhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayxuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayxuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daily.tendl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daily.tendl)
        </dd>

    </dl>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên sách")
        </th>
        <th>
            @Html.DisplayName("Số lượng nhập")
        </th>
        <th></th>
    </tr>

    @if (Model.ctpx != null)
    {
        foreach (var item in Model.ctpx)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sach.tensach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soluong)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                Không có chi tiết
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idpx }) |
    @Html.ActionLink("Back to List", "Index")
</p>
