@model ctyppsachmvc.Models.nxbsotienphaitraviewmodel

@{
    ViewBag.Title = "Index";
}

<h2>Số tiền phải trả cho nhà xuất bản</h2>

<table class="table">
    <tr>
        <th>Thời điểm</th>
        <th>
            @Html.DisplayName("Nhà xuất bản")
        </th>
        <th>
            @Html.DisplayName("Số tiền phải trả")
        </th>
    </tr>

@foreach (var item in Model.nxb) {
    <tr>
        <td>@Html.DisplayFor(o => o.dt)</td>
        <td>
            @Html.DisplayFor(modelItem => item.tennxb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotienphaitra)
        </td>
    </tr>
}

</table>
