@model IEnumerable<ctyppsachmvc.Models.sach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index","tonkhoes",FormMethod.Get))
{
    <div class="form-inline">
        @Html.Label("Thời điểm")
        <div class="form-group input-group-sm">
            @Html.TextBox("thoidiem", null, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here...", autocomplete = "off" })
        </div>
        @Html.Label("Tên sách")
        <div class="form-group">
            @Html.DropDownList("idsach", null, htmlAttributes: new { @class = "form-control", @id = "item" })
        </div>
        @*<input type="date" class="form-control"/>*@
        <div class="form-group">
            <div>
                <input type="submit" value="Index" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên sách")
        </th>
        <th>
           @Html.DisplayName("Tác giả")
        </th>
        <th>
            @Html.DisplayName("Nhà xuất bản")
        </th>
        <th>
            @Html.DisplayName("Số lượng tồn")
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tacgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nxb.tennxb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluongton)
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mycustomjquery")
}
