@model ctyppsachmvc.Models.congnotheothoigian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>congnotheothoigian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.congno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.congno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoidiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoidiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daily.tendl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daily.tendl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
