@model ctyppsachmvc.Models.dailycongnoviewmodel

@{
    ViewBag.Title = "Index";
}

<h2>Công nợ theo thời gian</h2>

<table class="table">
    <tr>
        <th>Thời điểm</th>
        <th>
            @Html.DisplayName("Đại lý")
        </th>
        <th>
            @Html.DisplayName("Công nợ")
        </th>
    </tr>

@foreach (var item in Model.daily) {
    <tr>
        <td>@Html.DisplayFor(o => o.dt)</td>
        <td>
            @Html.DisplayFor(modelItem => item.tendl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.congno)
        </td>
    </tr>
}

</table>
