@model ctyppsachmvc.Models.phieunhapviewmodel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>phieunhap</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.phieunhap.idnxb, "Tên nhà xuất bản", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("phieunhap.idnxb", ViewBag.idnxb as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.phieunhap.idnxb, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phieunhap.nguoigiaosach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phieunhap.nguoigiaosach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap.nguoigiaosach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phieunhap.ngaynhap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phieunhap.ngaynhap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap.ngaynhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phieunhap.nguoivietphieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phieunhap.nguoivietphieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap.nguoivietphieu, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-inline">
        <h4>Thêm chi tiết phiếu nhập</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.ctpn.idsach, "Tên sách")
        <div class="form-group">
                @Html.DropDownList("idsach", null, htmlAttributes: new { @class = "form-control", @id = "item" })
                @Html.ValidationMessageFor(model => model.ctpn.idsach, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.ctpn.soluong, "Số lượng nhập")
        <div class="form-group">
                @Html.EditorFor(model => model.ctpn.soluong, new { htmlAttributes = new { @class = "form-control", @id = "amount" } })
                @Html.ValidationMessageFor(model => model.ctpn.soluong, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
                <input type="button" id="btnAdd" class="btn btn-default" value="Add" />
        </div>
    </div>
    <hr />
    <table class="table" id="chitiet">
        <tr>
            <td>ID</td>
            <td>ID Sách</td>
            <td>Tên Sách</td>
            <td>Số lượng nhập</td>
            <td></td>
        </tr>
    </table>
    <hr />
    <div class="form-group">
        <div>
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mycustomjquery")
}
