@model IEnumerable<ctyppsachmvc.Models.phieunhap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày nhập
        </th>
        <th>
            Nhà xuất bản
        </th>
        <th>
           Người giao sách
        </th>
        <th>
           Người viết phiếu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngaynhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nxb.tennxb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoigiaosach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoivietphieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idpn }) |
            @Html.ActionLink("Details", "Details", new { id=item.idpn })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.idpn })*@
        </td>
    </tr>
}

</table>
