@model ctyppsachmvc.Models.danhmucsachdaban

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>danhmucsachdaban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thoigian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sotiendathanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sotiendathanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sotienconno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sotienconno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daily.tendl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daily.tendl)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên sách")
        </th>
        <th>
            @Html.DisplayName("Số lượng đã bán")
        </th>
        <th></th>
    </tr>

    @if (Model.ctdmsdb != null)
    {
        foreach (var item in Model.ctdmsdb)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sach.tensach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soluong)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
                Không có chi tiết
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iddmsdb }) |
    @Html.ActionLink("Back to List", "Index")
</p>
