@model IEnumerable<ctyppsachmvc.Models.danhmucsachdaban>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Thời gian
        </th>
        <th>
            Số tiền đã thanh toán
        </th>
        <th>
            Số tiền còn nợ
        </th>
        <th>
            Tên đại lý
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.thoigian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotiendathanhtoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sotienconno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daily.tendl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iddmsdb }) |
            @Html.ActionLink("Details", "Details", new { id=item.iddmsdb }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.iddmsdb })*@
            @using (Html.BeginForm("edittratien", "danhmucsachdabans", FormMethod.Post))
            {
                @Html.Hidden("iddmsdb", item.iddmsdb)
                <input type="submit" value="Thanh toán" class="btn btn-default" />
            }
        </td>
    </tr>
}

</table>
